.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

/* Header Search */

.header_search {
  display: flex;
  flex: 1;
  margin-left: 90px;
}
.header_searchInput {
  height: 30px;
  padding: 5px;
  border: none;
  width: 90%;
  /* border-left: solid; */
  border-radius: 5px 0 0 5px;
}
.header_searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #cd9042;
  border-radius: 0 5px 5px 0;
}

/* Header Nav */

.header_nav {
  display: flex;
  justify-content: space-around;
}

.header_optionLineOne {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.header_optionLineTwo {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-around;
  }
  .header_search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }
  .header_nav {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 5vw;
    font-weight: 600;
    justify-content: space-around !important;
  }

  div#head_search {
    order: 3;
  }
  div#head_logo {
    order: 1;
  }
  div#head_nav {
    order: 1;
  }
}

.header_option {
  margin-left: 10px;
  margin-right: 10px;
}

/* ................... */
